* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:white;
}

#header {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #102027;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px 0px 20px;
}

#header-img {
    height: 100px;
}

#header ul li a{
    text-decoration: none;
    color: white;
}

#nav-bar ul {
    list-style-type: none;
}

#nav-bar ul li {
    padding-left: 5vw;
    float: left;
}

main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#product-image {
    width: 100%;
}

#product-label {
    font-size: 4vw;
    position: absolute;
    top: calc(100px + 15vh);
    left: 100;
}


@media only screen and (max-width: 960px) {
    #major-feature-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
        width: 80%;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    
    .major-feature-box {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .major-feature-box > * {
        padding: 10px;
        max-width: 100%;
    }
}


@media only screen and (min-width: 961px) {
    #major-feature-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
        width: 80%;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    
    .major-feature-box {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .major-feature-box > * {
        padding: 10px;
        max-width: 100%;
    }
}


#feature-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#feature-section > * {
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: calc(100% + 50px);
}

#video-section {
    margin-bottom: 50px;
}

#form {
    margin-bottom: 50px;
}
